<h1>WELCOME TO ROCK PAPER SCISSORS</h1>

<ul>
  <li>Computer Move: <%= @rps_game.computer_play %></li>
  <li>Player Move: <%= @rps_game.play %></li>
  <li>Won: <%= @rps_game.won? %></li>
  <li>Lost: <%= @rps_game.lost? %></li>
  <li>Tied: <%= @rps_game.tied? %></li>
</ul>
